{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Continue Shoping</a>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>3</strong></h5></th>
                        <th><h5>Total: <strong>50$</strong></h5></th>
                        <th>
                            <a style="float: right; margin:5px" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2;" ></div>
                    <div style="flex: 2;" > <strong>Items</strong></div>
                    <div style="flex: 1;" > <strong>Price</strong></div>
                    <div style="flex: 1;" > <strong>Quantity</strong></div>
                    <div style="flex: 1;" > <strong>Total</strong></div>
                </div>
                
                <div class="cart-row">
                    <div style="flex: 2;"> <img class="row-image" src="{% static 'images/placeholder.png' %}" alt=""></div>
                    <div style="flex: 2;">Product 1</div>
                    <div style="flex: 1;">$20</div>
                    <div style="flex: 1;">
                        <p class="quantity">2</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static 'images/arrow-up.png' %}">

                            <img class="chg-quantity" src="{% static 'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex: 1;">$90</div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}